<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/Exercice1']">Exercice 1</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice2']">Exercice 2</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice3']">Exercice 3</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice4']">Exercice 4</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice5']">Exercice 5</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice6']">Exercice 6</a>
      <a class="nav-item nav-link" [routerLink]="['/Exercice7']">Exercice 7</a>
      <a class="nav-item nav-link" [routerLink]="['/Blog']">Blog</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
